<div class="sidebar @StateCssClass">
<DxTreeView AllowSelectNodes="true" CssClass="app-sidebar">
    <Nodes>
        <DxTreeViewNode NavigateUrl="./" Text="Overview"></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="within" Text="Within"></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="between" Text="Between"></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="keep-indices" Text="Keep Indicies"></DxTreeViewNode>
    </Nodes>
</DxTreeView>
</div>

@code {
    [Parameter] public string? StateCssClass { get; set; }
}